@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

/* hide scrollbar completely */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.lk-control-bar {
    display: none !important;
}

.lk-participant-name {
    display: none !important;
}

.lk-focus-layout__placeholder {
    display: none !important;
}




/* manjeet  */
.lk-participant-placeholder {
    display: none;
}

video.lk-participant-media-video {
    height: 100vh;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
}

.custom-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* amnjeet  */
.lk-grid-layout-wrapper .lk-participant-tile {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
}

.lk-grid-layout > .lk-participant-tile:nth-child(2) {
  /* custom styling */
  display: none; /* example: hide the second tile */
}